/* .SandClock {
  margin: 0 auto;
  padding-top: 5rem;
  width: 20rem;
  position: relative;
  z-index: 1;
}

.sand {
  background: #5fd9e9;
  position: absolute;
  width: 90%;
  z-index: -1;
  bottom: 0.3rem;
  left: 5%;
}


.value {
  position: absolute;
  top: 10rem;
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 4rem;
  line-height: 5rem;
  color: #fff;
}
.value span {
  font-size: 0.8em;
}

.date {
  position: absolute;
 font-size: 4rem;
  line-height: 5rem;
  color: #00e0ff;
  top: -5rem;
  width: 100%;text-align: center;
} */
