.SandClocks {
  display: flex;
  position: relative;
  background: #000;
  width: 100vw;
  height: 1000px;
}
.sandClock1 {
  position: absolute;
  bottom: 0;
  height: 880px;
  left: 18%;
}
.sandClock2 {
  position: absolute;
  bottom: 0;
  height: 880px;
  right: 3%;
}
.date {
  font-size: 100px;
  line-height: 117px;
  color: #00e0ff;
  text-align: center;
  width: 100%;
}
.scale {
  display: flex;
  position: absolute;
  flex-direction: column-reverse;
  justify-content: space-between;
  font-size: 5rem;
  color: #fff;
  left: 4rem;

  bottom: 1%;
  height: 88%;
}
.dashLine1,
.dashLine2 {
  position: absolute;
  left: 13rem;
  border-bottom: 3px dashed #fff;
  z-index: 10;
}
.dashLine1 {
  width: 50%;
}
.dashLine2 {
  width: 82%;
}
.difference {
  position: absolute;
  margin: 0;
  margin-left: 6%;
  text-align: center;
  width: 100%;
  font-size: 160px;
  line-height: 218px;
  color: #fff;
  z-index: 10;
}

.difference span {
  font-size: 0.8em;
}
.arrow{
  position: absolute;
  left: 56%;
}