.SandClock {
  margin: 0 auto;
  padding-top: 10rem;
  width: max-content;
  position: relative;
  z-index: 1;
}

.sand {
  background: #5fd9e9;
  position: absolute;
  width: 90%;
  z-index: -1;
  bottom: 0;
  left: 5%;
}

.SandClock_img {
  width: 100%;
}

.value {
  position: absolute;
  top: 15rem;
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 160px;
  line-height: 218px;
  color: #fff;
}
.value span {
  font-size: 0.8em;
}

.date {
  position: absolute;
  font-size: 100px;
  line-height: 117px;
  color: #00e0ff;
  top: -5rem;
  width: 100%;text-align: center;
}
