.SandClocks {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background: #000;
  width: 70rem;
}
.date {
  font-size: 5rem;
  line-height: 6rem;
  color: #00e0ff;
  text-align: center;
  width: 100%;
}
.scale {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  font-size: 4rem;
  line-height: 4rem;
  color: #fff;
  left: 3rem;
  margin-top: 6%;
}
.dashLine1,
.dashLine2 {
  position: absolute;
  left: 7rem;
  border-bottom: 3px dashed #fff;
  z-index: 10;
}
.dashLine1 {
  width: 45%;
}
.dashLine2 {
  width: 80%;
}
.difference {
  position: absolute;
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 4rem;
  line-height: 5rem;
  color: #fff;
  z-index: 10;
}

.difference span {
  font-size: 0.8em;
}
