.App {
  display: flex;
  flex-wrap: wrap;
}
.App > * {
  width: 30%;
  max-width: 500px;
  min-width: 300px;
  margin: 10px;
}
/* .App {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
}
.App > * {
  max-width: 500px;
  min-width: 300px;
} */
